@import "./color.css";
@import "../font/alte-din-1451-mittelschrift.css";
@import "../font/icon.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	color: inherit;
}

html, body {
	height: 100%;
}

body {
	background: var(--DARK);
	font-family: "Alte DIN 1451 Mittelschrift", "Bahnschrift", "Ubuntu", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 1.4em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--WHITE);
}

small {
	font-size: 12px;
}

strong {
	font-size: 20px;
	font-weight: normal;
}
