a {
	display: inline-block;
	min-width: 120px;
	height: 50px;
	background: var(--DARK);
	border-radius: 0;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: var(--WHITE);
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	background: var(--GREY);
}

button {
	min-width: 120px;
	height: 50px;
	background-color: var(--GREY);
	background-image: url("./button-background.svg");
	background-position-x: -20px;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: 0 2px black;
	color: var(--WHITE);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

button:hover,
button:focus {
	background-image: url("./button-background-hover.svg");
	box-shadow: 0 4px black;
	color: var(--BLACK);
}

button.small {
	min-width: unset;
	width: 50px;
	height: 50px;
	background-position-x: -160px;
}

button.large {
	min-width: unset;
	width: 120px;
	height: 120px;
	background-position-x: -230px;
}

button.red,
button.orange,
button.yellow { background-position-y: -20px; }

button.teal,
button.green,
button.light { background-position-y: -160px; }

button.purple,
button.pink,
button.blue { background-position-y: -300px; }
