.game-canvas {
	background: var(--DARK);
	box-shadow: 0 2px var(--BLACK) inset;
	cursor: crosshair;
	outline: none;
	transition: box-shadow 0.3s ease-in-out;
}

.game-canvas:hover,
.game-canvas:focus { box-shadow: 0 4px var(--BLACK) inset; }

.canvas-wrapper {
	padding: 10px;
	background: var(--GREY);
	box-shadow: 0 2px var(--BLACK);
	transition: box-shadow 0.3s ease-in-out;
}

.canvas-wrapper:hover,
.canvas-wrapper:focus { box-shadow: 0 4px var(--BLACK); }

.gauge {
	display: block;
	margin: 0 2px;
	padding: 2px;
	width: 200px;
	height: 20px;
	background-color: var(--DARK);
	border: 2px solid var(--BLACK);
}

.gauge::-moz-progress-bar { background: var(--ACCENT); }

.gauge::-webkit-progress-bar { background: var(--DARK); }
.gauge::-webkit-progress-value { background: var(--ACCENT); }
