.game-canvas {
	box-shadow: 0 0 0 2px var(--BLACK) inset;
	cursor: crosshair;
	outline: none;
}

.gauge {
	display: block;
	margin: 0 2px;
	padding: 2px;
	width: 200px;
	height: 20px;
	background-color: var(--DARK);
	border: 2px solid var(--BLACK);
}

.gauge::-moz-progress-bar { background: var(--ACCENT); }

.gauge::-webkit-progress-bar { background: var(--DARK); }
.gauge::-webkit-progress-value { background: var(--ACCENT); }
