.navigation-host {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	--TRANSITION-TIME: 0.3s;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0 9999px var(--BLACK);
	overflow: auto;
}

.page.push-in.visible {
	animation: push-in var(--TRANSITION-TIME) ease-in-out;
}

@keyframes push-in {
	from {
		opacity: 0;
		transform: scale(1.2);
	}

	to {
		transform: unset;
	}
}

.page.pull-in.visible {
	animation: pull-in var(--TRANSITION-TIME) ease-in-out;
}

@keyframes pull-in {
	from {
		opacity: 0;
		transform: scale(0.8);
	}

	to {
		transform: unset;
	}
}
