.screen {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.screen.disabled {
	display: none;
}

.screen-header {
	flex: 0;
	padding-top: 20px;
}

.screen-title {
	text-align: center;
	text-transform: uppercase;
}

.screen-title small {
	display: block;
	color: var(--LIGHT);
}

.screen-content {
	flex: 1;
	padding: 20px 0;
}
