.page-title {
	padding: 20px 40px;
	background: var(--BLACK);
	text-align: center;
}

.page-title > span {
	font-weight: bold;
}

.page-title > small {
	display: block;
}

.page-content {
	margin: 20px 40px;
}
