:root {
	--RED: crimson;
	--ORANGE: darkorange;
	--YELLOW: gold;
	--GREEN: greenyellow;
	--TEAL: mediumseagreen;
	--BLUE: deepskyblue;
	--PURPLE: mediumpurple;
	--PINK: hotpink;
	--WHITE: ghostwhite;
	--LIGHT: silver;
	--GREY: gray;
	--DARK: darkslategray;
	--BLACK: black;
	--ACCENT: var(--LIGHT);
}

.red { --ACCENT: var(--RED); }
.orange { --ACCENT: var(--ORANGE); }
.yellow { --ACCENT: var(--YELLOW); }
.green { --ACCENT: var(--GREEN); }
.teal { --ACCENT: var(--TEAL); }
.blue { --ACCENT: var(--BLUE); }
.purple { --ACCENT: var(--PURPLE); }
.pink { --ACCENT: var(--PINK); }
.white { --ACCENT: var(--WHITE); }
.light { --ACCENT: var(--LIGHT); }
.grey { --ACCENT: var(--GREY); }
.dark { --ACCENT: var(--DARK); }
.black { --ACCENT: var(--BLACK); }

/* ----------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	color: inherit;
}

body {
	font-family: "Source Code Pro", "Consolas", monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	background: var(--BLACK);
	color: var(--WHITE);
}

small {
	font-size: 13px;
}

/* ----------------------------------------------------------------- */

.centering-element {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-aligning-element {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.lifting-element {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

/* ----------------------------------------------------------------- */

.interactible-element {
	border: 2px solid var(--DARK);
	cursor: pointer;
}

.interactible-element:hover {
	outline: 2px solid var(--ACCENT);
	outline-offset: -6px;
}

/* ----------------------------------------------------------------- */

.iconic-element {
	background-repeat: no-repeat;
	background-position: center;
}

.iconic-element.ship { background-image: url("./asset/keybindinggridbackground.shipicon.svg"); }
.iconic-element.bullet { background-image: url("./asset/keybindinggridbackground.bulleticon.svg"); }

.iconic-element.plus { background-image: url("./asset/actioncardbackground.plusicon.svg"); }
.iconic-element.cross { background-image: url("./asset/actioncardbackground.crossicon.svg"); }
.iconic-element.gear { background-image: url("./asset/actioncardbackground.gearicon.svg"); }
.iconic-element.left-chevron { background-image: url("./asset/actioncardbackground.leftchevronicon.svg"); }
.iconic-element.right-chevron { background-image: url("./asset/actioncardbackground.rightchevronicon.svg"); }

.iconic-element.hull-boost { background-image: url("./asset/actioncardbackground.hullboosticon.svg");  }
.iconic-element.damage-boost { background-image: url("./asset/actioncardbackground.damageboosticon.svg");  }
.iconic-element.firerate-boost { background-image: url("./asset/actioncardbackground.firerateboosticon.svg");  }
.iconic-element.ammo-cap-boost { background-image: url("./asset/actioncardbackground.ammocapboosticon.svg");  }
.iconic-element.ammo-regen-boost { background-image: url("./asset/actioncardbackground.ammoregenboosticon.svg");  }
.iconic-element.aux-cap-boost { background-image: url("./asset/actioncardbackground.auxcapboosticon.svg");  }
.iconic-element.aux-regen-boost { background-image: url("./asset/actioncardbackground.auxregenboosticon.svg");  }

.iconic-element.shield-capacity { background-image: url("./asset/actioncardbackground.abilityshieldicon.svg");  }
.iconic-element.blink-capacity { background-image: url("./asset/actioncardbackground.abilityblinkicon.svg");  }
.iconic-element.restauration-capacity { background-image: url("./asset/actioncardbackground.abilityrestaurationicon.svg");  }

.iconic-element.gatling-gun { background-image: url("./asset/actioncardbackground.weapongatlingicon.svg");  }
.iconic-element.blaster-gun { background-image: url("./asset/actioncardbackground.weaponblastericon.svg");  }
.iconic-element.shotgun-gun { background-image: url("./asset/actioncardbackground.weaponshotgunicon.svg");  }

/* ----------------------------------------------------------------- */

.screen {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.screen.disabled {
	display: none;
}

.screen-header {
	flex: 0;
	padding-top: 20px;
}

.screen-title {
	text-align: center;
	text-transform: uppercase;
}

.screen-title small {
	display: block;
	color: var(--LIGHT);
}

.screen-content {
	flex: 1;
	padding: 20px 0;
}

/* ----------------------------------------------------------------- */

.action-card {
	width: 200px;
	min-width: 200px;
	height: 400px;
	min-height: 400px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px 10px;

	text-align: center;
	text-transform: uppercase;
	color: var(--LIGHT);
}

.action-card.disabled {
	display: none;
}

.action-card small {
	display: block;
}

/* ----------------------------------------------------------------- */

.gauge {}

.gauge progress {
	display: block;
	padding: 2px;
	width: 108px;
	height: 18px;
	background-color: var(--RED);
	border: 2px solid var(--DARK);
	outline: 2px solid var(--BLACK);
	outline-offset: -4px;
}

.gauge progress::-moz-progress-bar { background: var(--ACCENT); }

.gauge progress::-webkit-progress-bar { background: transparent; }
.gauge progress::-webkit-progress-value { background: var(--ACCENT); }

.gauge .title {
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: var(--LIGHT);
}

/* ----------------------------------------------------------------- */

.key-binding-grid {
	display: grid;
	grid-template-rows: repeat(3, 100px);
	grid-template-columns: repeat(5, 100px);
	grid-gap: 20px;
}

.key-binding-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: var(--LIGHT);
}

.key-binding-item .label {
	position: absolute;
	bottom: calc(100% + 4px);
	width: 100%;
	font-size: 13px;
}

.key-binding-item .label.bottom {
	top: calc(100% + 4px);
}

/* ----------------------------------------------------------------- */

.game-canvas-wrapper {
	padding: 6px;
}

.game-canvas {
	cursor: crosshair;
	outline: none;
}
