/* @see www.font-converter.net */

@font-face {
	font-family: "Spaceshits Icon";
	font-weight: normal;
	font-style: normal;
	src: url("./icon.ttf") format("truetype");
}

.icon {
	--ICON-SIZE: 30px;
	display: inline-block;
	width: var(--ICON-SIZE);
	height: var(--ICON-SIZE);
	font-family: "Spaceshits Icon";
	font-weight: normal;
	font-style: normal;
	font-size: var(--ICON-SIZE);
	text-transform: none;
	line-height: calc(var(--ICON-SIZE) + 8px);
}

.icon.up::before { content: "^"; }
.icon.left::before { content: "<"; }
.icon.right::before { content: ">"; }
.icon.down::before { content: "v"; }

.icon.plus::before { content: "+"; }
.icon.cross::before { content: "x"; }
.icon.gear::before { content: "*"; }
.icon.pause::before { content: "P"; }

.icon.gatling::before { content: "G"; }

.icon.damage-booster::before { content: "D"; }
.icon.fire-rate-booster::before { content: "F"; }
.icon.hull-booster::before { content: "H"; }
.icon.weapon-cap-booster::before { content: "W"; }
.icon.weapon-regen-booster::before { content: "X"; }
.icon.aux-cap-booster::before { content: "E"; }
.icon.aux-regen-booster::before { content: "U"; }
