.game-canvas {
	background: var(--DARK);
	box-shadow: 0 2px var(--BLACK) inset;
	cursor: crosshair;
	outline: none;
	transition: box-shadow 0.3s ease-in-out;
}

.game-canvas:hover,
.game-canvas:focus { box-shadow: 0 4px var(--BLACK) inset; }

.canvas-wrapper {
	padding: 10px;
	background: var(--GREY);
	box-shadow: 0 2px var(--BLACK);
	transition: box-shadow 0.3s ease-in-out;
}

.canvas-wrapper:hover,
.canvas-wrapper:focus { box-shadow: 0 4px var(--BLACK); }

progress {
	display: block;
	width: 190px;
	height: 15px;
	background-color: var(--ACCENT-DARK);
	box-shadow: 0 3px var(--BLACK);
}

progress::-moz-progress-bar { background: var(--ACCENT); }

progress::-webkit-progress-bar { background: var(--ACCENT-DARK); }
progress::-webkit-progress-value { background: var(--ACCENT); }
